/** STYLES **/
.pwa-page-content h3 {
    background: #0094a8;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0.75rem;
}

.wordcamp-schedule-session .wordcamp-schedule-session-track {
    background: #db0577;
    color: #fff;
    font-size: 0.75rem;
    padding: 0 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.wordcamp-schedule-session .wordcamp-schedule-session-title {
    padding: 0 0.25rem;
    margin: 1.5rem 0 2rem 0;
}

.wordcamp-schedule-session .wordcamp-schedule-session-speaker {
    padding: 0 0.25rem;
}

.wordcamp-schedule-session .wordcamp-schedule-session-speaker a {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
}

.wordcamp-schedule-session .wordcamp-schedule-session-category {
    font-size: 0.85rem;
    text-align: right;
    padding: 0 0.25rem;
    font-weight: 700;
    color: #000;
}

.wordcamp-latest-post .wordcamp-latest-post-date,
.wordcamp-schedule-session .wordcamp-schedule-session-time {
    font-size: 0.8rem;
    padding: 0 0.25rem;
    font-weight: bold;
    color: #333;
}

.full-schedule,
.all-posts {
    background: #db0577;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 0.75rem;
    font-weight: 500;
}

.full-schedule:after,
.all-posts:after {
    content: ">";
}

.full-schedule:hover,
.all-posts:hover {
    color: #fff;
    text-decoration: underline;
}


#latest-posts {
    border: none;
}

.wordcamp-latest-post {
    background: #e8f5f6;
    padding: 0.25rem 0.5rem;
}

.wordcamp-latest-post .wordcamp-latest-post-title {
    padding: 0;
    margin: 1.5rem 0 0.5rem 0;
    text-transform: none;
}

.wordcamp-latest-post .wordcamp-latest-post-date {
    padding-left: 0.5rem;
}

.wordcamp-latest-post .wordcamp-latest-post-excerpt {
    font-size: 1rem;
    padding: 0.25rem;
    display: block;
    line-height: 1.2rem;
}

.wordcamp-latest-post .wordcamp-latest-post-categories a {
    font-size: 0.8rem;
    color: #111;
    text-transform: uppercase;
    font-weight: 600;
}

.wordcamp-latest-post .wordcamp-latest-post-categories a:after {
    content: ", ";
}

.wordcamp-latest-post .wordcamp-latest-post-categories a:last-child:after {
    content: none;
}

.wordcamp-latest-post .wordcamp-latest-post-categories a:hover {
    text-decoration: underline;
}

/** LAYOUT **/
.pwa-site-main {
    max-width: 30rem;
    margin: 0 auto;
}

.pwa-site-main h1,
.pwa-site-main h2 {
    text-align: center;
    width: 100%;
    font-size: 3rem;
}


.pwa-page-content {
    display: block;
    width: 98%;
    margin: 1% 1% 5% 1%;
    border: 1px solid #e8f5f6;
}

.pwa-page-content h3 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #e8f5f6;
}

.wordcamp-schedule-session {
    position: relative;
    display: flex;
    border-bottom: 1px solid #e8f5f6;
}

.wordcamp-schedule-session:last-child {
    border-bottom: none;
}

.wordcamp-schedule-session .wordcamp-schedule-session-track {
    flex: 25%;
}

.wordcamp-schedule-session .wordcamp-schedule-session-title {
    flex: 75%;
    text-transform: none;
}

.wordcamp-schedule-session .wordcamp-schedule-session-time {
    position: absolute;
    top: 0;
    left: 25%;
}

.wordcamp-schedule-session .wordcamp-schedule-session-speaker {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;

}

.wordcamp-schedule-session .wordcamp-schedule-session-category {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
}

.full-schedule,
.all-posts {
    width: 100%;
    display: block;
}

.wordcamp-latest-post {
    width: 100%;
    margin-bottom: 0.5rem;
    position: relative;
}

.wordcamp-latest-post .wordcamp-latest-post-date {
    position: absolute;
    top: 0;
    left: 0;
}

.wordcamp-latest-post .wordcamp-latest-post-categories {
    display: block;
}